<div class="container w-full flex flex-col items-center">
	@if (blogPost) {
	<!-- id="anchor" -->
	<section class="blog-post w-full flex flex-col gap-6 px-8">
		<div>
			<p-divider class="m-0">
				<h2 class="text-center">{{ blogPost.title }}</h2>
			</p-divider>
			<p class="text-muted-color text-center">{{ blogPost.date | date }}</p>
		</div>
		<div class="self-center">
			<!-- FULL IMG -->
			<p-image
				[src]="blogPost.image"
				[alt]="blogPost.title"
				[title]="blogPost.title"
				[preview]="true"
				class=""
			>
				<ng-template pTemplate="indicator">
					<i class="pi pi-search"></i>
				</ng-template>
				<ng-template pTemplate="image">
					<!-- PREVIEW IMG -->
					<img
						[src]="blogPost.image"
						[alt]="blogPost.title"
						width="350"
						class="rounded-md overflow-hidden"
					/>
				</ng-template>
				<ng-template
					pTemplate="preview"
					let-style="style"
					let-previewCallback="previewCallback"
				>
					<div class="m-auto flex justify-center">
						<img
							[src]="blogPost.image"
							[alt]="blogPost.title"
							[style]="style"
							(click)="previewCallback()"
							class="max-w-[80%]"
						/>
					</div>
				</ng-template>
			</p-image>
		</div>
		<p
			class="max-w-[60ch] md:max-w-[75ch] leading-relaxed break-words hyphens-auto text-pretty"
			[innerHTML]="blogPost.content"
		></p>
		<div class="post-footer flex flex-col justify-start gap-4 text-muted-color">
			<p>Author: {{ blogPost.author }}</p>
			<p class="text-muted-color">{{ blogPost.date | date }}</p>
			<div class="buttons-wrapper flex justify-between">
				<p-button
					[rounded]="true"
					styleClass="w-20 flex gap-2"
					class="w-fit"
					[raised]="true"
					[label]="blogPost.likes.toString()"
					(click)="toggleLike()"
				>
					<i
						class="pi"
						[class.pi-heart-fill]="blogPost.likedByUser"
						[class.pi-heart]="!blogPost.likedByUser"
						[class.animated]="likeToggled"
						(animationend)="resetAnimation()"
					></i>
				</p-button>
				@if (adminService.isAdmin) {
				<p-button
					[rounded]="true"
					severity="danger"
					styleClass="p-4 flex gap-2"
					[raised]="true"
					label=""
					(click)="deletePost()"
				>
					<i class="pi pi-trash"></i>
				</p-button>
				}
			</div>
		</div>
	</section>
	<section class="w-full flex flex-col gap-6">
		<p-divider>Comments: ({{ blogPost.comments.length }})</p-divider>
		<p-card class="" styleClass="p-4">
			<form
				[formGroup]="commentForm"
				(ngSubmit)="saveComment(blogPost.id)"
				class="flex flex-col gap-8"
			>
				<h4 class="text-center">Leave a comment:</h4>
				<p-floatlabel variant="over">
					<label for="author">Name (optional):</label>
					<input
						pInputText
						id="author"
						formControlName="author"
						type="text"
						class="w-full"
					/>
				</p-floatlabel>
				<p-floatlabel>
					<label for="content">Comment:</label>
					<textarea
						pTextarea
						id="content"
						name="content"
						rows="4"
						cols="30"
						[autoResize]="true"
						formControlName="content"
						type="textarea"
						maxlength="{{ maxCharacterCount }}"
						class="w-full h-24"
					></textarea>
					<i class="text-muted-color"
						>{{ currentCharacterCount }} / {{ maxCharacterCount }}</i
					>
				</p-floatlabel>
				<p-button
					pRipple
					type="submit"
					icon="pi pi-send"
					label="send"
					class="w-fit"
				/>
			</form>
			<p-toast position="bottom-right" key="br" />
		</p-card>
		@for (comment of comments; track $index) {
		<p-fieldset styleClass="max-w-[80%]" class="">
			<ng-template #header>
				<div class="flex items-center gap-3 px-1">
					<p-avatar class="" icon="pi pi-user" shape="circle" />
					<span class="font-bold">{{ comment.author | ellipsis : 40 }}</span>
				</div>
			</ng-template>
			<p class="mb-4">
				{{ comment.content }}
			</p>
			<i class="text-muted-color text-sm">{{
				comment.date | date : "d-MM-y, HH:mm"
			}}</i>
		</p-fieldset>
		}
	</section>
	} @else {
	{{ notFound }}
	}
	<ng-template #notFound>
		<p>Blog post not found...</p>
	</ng-template>
</div>
