<div class="w-full grid grid-cols-1 2xl::grid-cols-2 gap-4">
	@for (post of blogPosts; track post.id) {

	<a
		[routerLink]="['/post', post.id]"
		class="m-8 rounded-md overflow-hidden transition-all duration-100 hover:brightness-110"
	>
		<p-card styleClass="rounded-none ">
			<ng-template #header>
				@if (post.image) { }<img
					class="w-full object-cover object-center max-h-60"
					[src]="post.image"
					[alt]="post.title"
				/>
			</ng-template>
			<ng-template #title>
				<h3>{{ post.title }}</h3>
			</ng-template>
			<ng-template #subtitle
				><p>{{ post.date | date }}</p></ng-template
			>
			<p
				[innerHTML]="post.content | ellipsis : 200"
				class="max-w-[60ch] md:max-w-[75ch] leading-relaxed break-words hyphens-auto text-pretty"
			></p>
			<ng-template #footer>
				<div class="flex flex-row mt-4">
					<span class="absolute flex gap-8"
						><div class="flex items-center gap-2">
							@if (post.likedByUser) {

							<i class="pi pi-heart-fill w-fit"></i>
							}@else {
							<i class="pi pi-heart w-fit"></i>
							}
							<p>{{ post.likes }}</p>
						</div>
						<div class="flex items-center gap-2">
							<i class="pi pi-comment w-fit"></i>
							<p>{{ post.comments.length }}</p>
						</div>
					</span>
					<p class="italic mx-4 w-full text-center text-primary-emphasis-alt">
						Click to read more
					</p>
				</div>
			</ng-template>
		</p-card>
	</a>
	<!-- <p-divider></p-divider> -->

	}
</div>
