<header class="pt-8 px-4 flex flex-col border-b border-primary-800">
    <div class="flex flex-col fixed gap-2 items-end justify-center self-end w-fit">
        <app-admin-toggle class="max-h-fit max-w-fit "/>
        <app-theme-toggle class="max-h-fit max-w-fit"/>
    </div>
    <a routerLink="/">
        <h1  class="text-center text-2xl font-bold">HEADER</h1>
    </a>
    <div class="flex flex-row items-center justify-center">
      <ul class="mt-4 flex gap-6">
        <li>
          <a routerLink="/">Blog/Home</a>
        </li>
        <li>
          <a routerLink="/about">About</a>
        </li>
        <li>
          <a routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </header>

