<header class="p-4 bg-slate-500 flex flex-col">
    <app-admin-toggle class="max-h-fit max-w-fit self self-end"/>
    <h1 class="text-center text-2xl font-bold">HEADER</h1>
    <div class="flex flex-row items-center justify-center">
      <!-- Centered Navigation Links -->
      <ul class="flex gap-6">
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/about">About</a>
        </li>
        <li>
          <a routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </header>

