<div class="mt-8 pt-8 px-4 flex flex-col gap-4">
    <div class="flex flex-col absolute gap-2 items-end justify-center self-end w-fit">
        <app-admin-toggle class="max-h-fit max-w-fit "/>
        <app-theme-toggle class="max-h-fit max-w-fit"/>
    </div>
    <a routerLink="/" class="transition-all duration-400 hover:tracking-wider">
        <h1  class=" text-center text-2xl font-bold ">FLY TALES</h1>
    </a>
    <nav class="">
        <ul class="mt-4 flex justify-center w-full">
            <li class="">
                <a routerLink="/" class="transition-all duration-400 hover:text-primary">Blog/Home</a>
            </li>
            <p-divider layout="vertical" />
            <li>
                <a routerLink="/about" class="transition-all duration-400 hover:text-primary">About</a>
            </li>
            <p-divider layout="vertical" />
            <li>
                <a routerLink="/contact" class="transition-all duration-400 hover:text-primary">Contact</a>
            </li>
            @if (adminService.isAdmin) {
                <p-divider layout="vertical" />
                <a routerLink="/new-post" class="transition-all duration-400 hover:text-primary">New Post</a>
                }
            
        </ul>
    </nav>
  </div>

