<p-divider>
	<h2>CONTACT</h2>
</p-divider>
<p-card>
	<div class="form-container mx-2 my-4">
		<form
			[formGroup]="contactForm"
			(ngSubmit)="contactSubmit()"
			class="new-post-container flex flex-col gap-6"
		>
			<i
				class="pi pi-envelope text-5xl text-center text-muted-color-emphasis"
			></i>
			<div class="input-wrapper">
				<p-inputgroup>
					<p-inputgroup-addon>
						<i class="pi pi-at"></i>
					</p-inputgroup-addon>
					<p-floatlabel variant="over" class="flex flex-col">
						<label for="email">Email</label>
						<input
							pInputText
							pSize="small"
							id="email"
							formControlName="email"
							type="text"
							class="w-full"
						/>
					</p-floatlabel>
				</p-inputgroup>
				@if (contactForm.get('email')?.invalid &&
				contactForm.get('email')?.touched) {
				<p-message
					severity="error"
					variant="simple"
					size="small"
					icon="pi pi-times-circle"
					styleClass="mt-2 w-fit"
					>Please enter a valid email address</p-message
				>
				}
			</div>
			<div class="input-wrapper">
				<p-inputgroup>
					<p-inputgroup-addon>
						<i class="pi pi-pencil"></i>
					</p-inputgroup-addon>
					<p-floatlabel class="flex flex-col">
						<label for="subject">Subject</label>
						<input
							pInputText
							pSize="small"
							id="subject"
							formControlName="subject"
							type="text"
							class="w-full"
						/>
					</p-floatlabel>
				</p-inputgroup>
				@if (contactForm.get('subject')?.invalid &&
				contactForm.get('subject')?.touched) {
				<p-message
					severity="error"
					variant="simple"
					size="small"
					icon="pi pi-times-circle"
					styleClass="mt-2 w-fit"
					>A subject is required</p-message
				>
				}
			</div>
			<div class="input-wrapper">
				<p-floatlabel class="flex flex-col">
					<label for="content">content</label>
					<textarea
						pTextarea
						[autoResize]="true"
						id="content"
						formControlName="content"
						type="text"
						class="w-full"
						rows="6"
					></textarea>
				</p-floatlabel>

				@if (contactForm.get('content')?.invalid &&
				contactForm.get('content')?.touched) {
				<p-message
					severity="error"
					variant="simple"
					size="small"
					icon="pi pi-times-circle"
					styleClass="mt-2 w-fit"
					>Content can't be empty</p-message
				>
				}
			</div>
            <p-button
				pRipple				
				type="submit"
				label="Send"
				icon="pi pi-send"
				class="w-fit"
				[disabled]="contactForm.invalid"
			></p-button>
            <p-toast position="bottom-right" key="br" />
		</form>
	</div>
</p-card>
