<p-divider>
	<h2>New Post</h2>
</p-divider>
<p-card class="new-post-container flex flex-col gap-8">
	<div class="mx-auto py-4 px-6">
		<form
			[formGroup]="postForm"
			(ngSubmit)="savePost()"
			class="new-post-container flex flex-col gap-8"
		>
			<h3 class="text-center">Write a new blog post:</h3>
			<div class="form-title-group flex flex-col gap-1">
				<p-inputgroup>
					<p-inputgroup-addon>
						<i class="pi pi-pencil"></i>
					</p-inputgroup-addon>
					<p-floatlabel class="flex flex-col">
						<label for="title">Title</label>
						<input
							pInputText
							pSize="small"
							id="title"
							formControlName="title"
							type="text"
							class="w-full"							
						/>
					</p-floatlabel>
				</p-inputgroup>
				@if (postForm.get('title')?.invalid && postForm.get('title')?.touched) {
				<p-message
					severity="error"
					variant="simple"
					size="small"
					icon="pi pi-times-circle"
					styleClass="mb-2 mt-1 w-fit "
					>Title is required</p-message
				>
				}
			</div>
			<div class="form-author-group">
				<p-inputgroup>
					<p-inputgroup-addon>
						<i class="pi pi-user"></i>
					</p-inputgroup-addon>
					<p-floatlabel variant="over">
						<label for="author">Author</label>
						<input
							pInputText
							pSize="small"
							id="author"
							formControlName="author"
							type="text"
							class="w-full"
							[ngClass]="{
								'is-invalid':
									postForm.get('title')?.invalid &&
									postForm.get('title')?.touched
							}"
						/>
					</p-floatlabel>
				</p-inputgroup>
				@if (postForm.get('author')?.invalid && postForm.get('author')?.touched)
				{
				<p-message
					severity="error"
					variant="simple"
					size="small"
					icon="pi pi-times-circle"
					styleClass="mb-2 mt-1 w-fit "
					>Author is required</p-message
				>
				}
			</div>
			<div class="form-image-group">
				<p-inputgroup>
					<p-inputgroup-addon>
						<i class="pi pi-image"></i>
					</p-inputgroup-addon>
					<p-floatlabel variant="over">
						<label for="image">image URL</label>
						<input
							pInputText
							pSize="small"
							id="image"
							formControlName="image"
							type="text"
							class="w-full"
							(input)="validateImageUrl()"
						/>
					</p-floatlabel>
				</p-inputgroup>
				<!-- Image Preview -->

				@if (imagePreview) {
				<div class="image-preview mt-4">
					<img
						[src]="imagePreview"
						alt="Preview"
						class="w-full max-h-64 object-contain"
					/>
				</div>
				} @if (postForm.get('image')?.value && !imagePreview) {
				<p-message
					severity="error"
					variant="simple"
					size="small"
					icon="pi pi-times-circle"
					styleClass="mb-2 mt-1 w-fit "
					>Invalid image URL</p-message
				>
				}
			</div>
			<div class="form-content-group">
				<label for="content" class="m-2">Content</label>
				<p-editor
					formControlName="content"
					id="content"
					styleClass="mt-1 flex flex-col mx-auto w-full h-52 min-h-content"
				>
					<ng-template #header>
						<span class="ql-formats">
							<button type="button" class="ql-bold" aria-label="Bold"></button>
							<button
								type="button"
								class="ql-italic"
								aria-label="Italic"
							></button>
							<button
								type="button"
								class="ql-underline"
								aria-label="Underline"
							></button>
						</span> </ng-template
				></p-editor>
				@if (postForm.get('content')?.invalid &&
				postForm.get('content')?.touched) {
				<p-message
					severity="error"
					variant="simple"
					size="small"
					icon="pi pi-times-circle"
					styleClass="mb-2 mt-1 w-fit "
					>Content is required</p-message
				>
				}
			</div>
			<p-toast position="bottom-right" key="br" />

			<p-button
				pRipple				
				type="submit"
				label="Submit"
				icon="pi pi-send"
				class="w-fit"
				[disabled]="postForm.invalid"
			></p-button>
		</form>
	</div>
</p-card>
