<div class="w-full grid grid-cols-1 2xl::grid-cols-2 gap-4">
	@for (post of blogPosts; track post.id) {

	<a
		[routerLink]="['/post', post.id]"
		class="rounded-xl overflow-hidden transition-all duration-100 hover:brightness-110"
	>
		<p-card >
			<ng-template #header>
				<img
					class="w-full object-cover object-center max-h-60"
					[src]="post.image"
					[alt]="post.title"
				/>
			</ng-template>
			<ng-template #title>
				<h3 class="">{{ post.title }}</h3>
			</ng-template>
			<ng-template #subtitle> {{ post.date | date }} </ng-template>
			<p>{{ post.content | slice : 0 : 200 }}...</p>
			<!-- <ng-template #footer>
				
			</ng-template> -->
		</p-card>
	</a>

	}
</div>